html {
  font-family: Arial;
}
body {
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}
#cells {
  margin-top: 5px;
}
.cell {
  width: 80px;
  height: 80px;
}
.github {
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block;
  background-image: url("http://ryansmith94.github.io/SlidingBlocks/images/github.png");
  width: 32px;
  height: 32px;
}
.react {
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block;
  background-image: url("http://www.toptal.com/uploads/blog/category/logo/291/react.png");
  background-size: 100%;
  width: 32px;
  height: 32px;
}
.btn {
  margin: 2px;
}
